snippet kbd
	<kbd>${1:key}</kbd>

snippet details
	<details><summary>${1:summary}</summary>
	
	${2:stuff}
	</details>

snippet twe "Blogdown Tweet Shortcode"
	`r blogdown::shortcode("tweet", "${1:tweetid}")`

snippet css
	```{css}
	${1:css}
	```

snippet pkg
	[${1:package}]{.pkg}

